#facebox {
  position: absolute;
  margin-top:10px;
  left:0;
  z-index: 100;
  text-align: left;
}


#facebox .popup{
  position:relative;
}

#facebox .content {
  display:table;
  width: 900px;
  padding:10px;
  margin-top:0px;
  border-style:solid;
  background:#fff;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  
  z-index: 99;
}
 